/**
 * Author: Jon
 */
img { max-width:100%; }


li.programDiv {
  display: inline-block;
  font-family: Whitney, helvetica, arial, sans-serif;
  position: relative;
  vertical-align: top;
}


.title {
    float: right;
    font: bold 30px/50px Helvetica, Sans-Serif; 
}

h3.title-programs {
   position: absolute; 
   bottom: 0px; 
   width: 100%;
   color: white;
   font: bold 30px/50px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   padding: 5px;
}

.imageDiv {
    position: relative; 
}

.col-centered{
    float: none;
    margin: 0 auto;
}


#myPrograms {
   
    /* center the ul*/
    margin: 5px auto;
}

.page-wrapper {
    background-color: #f7fafa;
}
